<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ruislip - GYM</title>
    <link rel="stylesheet" href="cards.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:100,300,400&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
    <section id="facilities">
        <div class="container">
            <div class="title">
                <h1>Marcas</h1>
                <p>Escolha a sua marca!</p>
            </div>
            <div class="row">
                <div class="col-md-4 rounded">
                    <div class="card text-center">
                        <img src="../assets/logo/aprilia.jpg" alt="Aprilia" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">Aprilia</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="#">Ver motos</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card text-center">
                        <img src="../assets/logo/ducati.jpg" alt="Ducati" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">Ducati</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="#">Ver motos</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card text-center">
                        <img src="../assets/logo/honda.jpg" alt="Honda" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">Honda</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="#">Ver motos</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card text-center">
                        <img src="../assets/logo/kawasaki.jpg" alt="Kawasaki" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">Kawasaki</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="#">Ver motos</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card text-center">
                        <img src="../assets/logo/suzuki.jpg" alt="Suzuki" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">Suzuki</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="#">Ver motos</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card text-center">
                        <img src="../assets/logo/yamaha.jpg" alt="Yamaha" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">Yamaha</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="#">Ver motos</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</body>

</html>