<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>footer</title>
	<link rel="stylesheet" href="footer.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<body>
	<div class="footer">
		<div class="inner_footer">

			<div class="logo_container">
				<img src="../../assets/logo/logotipo.jpg">
			</div>

			<div class="footer_third">
				<h1>Sobre Nós</h1>
				<a href="#">Quem somos?</a>
			</div>

			<div class="footer_third">
				<h1>Contactos</h1>
				<p>a29060@aemtg.pt</p>
			</div>

			<div class="footer_third">
				<h1>Localização</h1>
				<p>Av. São João de Deus 1,<br>
					8500-508 Portimão</p>
			</div>
		</div>
	</div>
</body>

</html>