<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="info.css">
    <title>Document</title>
</head>

<body>
    <section id="facilities">
        <div class="container">
            <div class="title">
                <h1>Mota X</h1>
                <p>Toda a informação sobre a mota X!</p>
                <hr>
            </div>
            <div class="row">
                <div class="main">
                    <div class="content">
                        <img src="../../assets/background/background.jpg" alt="Bear" style="width:100%">
                        <h3>Some Other Work</h3>
                        <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at
                            tantas
                            oporteat
                            nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p>
                        <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at
                            tantas
                            oporteat
                            nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.
                        </p>
                    </div>

                    <!-- END MAIN -->
                </div>

            </div>
        </div>
    </section>

</body>

</html>